# Advanced Queries

#   

## Inital Setup

1\. drop database

2\. create tables

3\. add records

In [3]:
use master

alter database ecolab_books_db set single_user with rollback immediate

 
drop database ecolab_books_db

In [4]:
CREATE DATABASE ecolab_books_db;

In [5]:
use ecolab_books_db;

## CREATE THE TABLE

NOTE

- WE ARE ADDING PRIMARY AND FOREIGN KEY WHILE CREATING THE TABLE
- WE ARE ADDING PRIMARY KEY TO REVIEWS ALSO
    - THIS KEY WILL AUTO GENERATED INT

In [6]:
CREATE TABLE BOOKS(
    id VARCHAR(100) NOT NULL PRIMARY KEY,
    title VARCHAR(100) NOT NULL,
    author VARCHAR(100) NOT NULL,
    price int DEFAULT(0)
)

In [7]:
CREATE TABLE REVIEWS(
    Id int IDENTITY PRIMARY KEY,
    book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES books(id) ON DELETE CASCADE ON UPDATE CASCADE,
    rating int NOT NULL
)

### <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Now Let us Add Records</span>

In [8]:
INSERT 
    INTO BOOKS
        (ID,TITLE,AUTHOR,PRICE)
    VALUES
        ('the-accursed-god','The Accursed God','Vivek Dutta Mishra',399),
         ('kane-and-abel','Kane and Abel','Jeffrey Archer',450),
        ('rashmirathi','Rashmirathi','Ramdhari Singh Dinkar',190),
        ('sons-of-fortune','Sons of Fortune','Jeffrey Archer',450),
        ('manas','Manas','Vivek Dutta Mishra',199),
        ('summons','Summons','John Grisham',250),
        ('five-point-someone','Five Point SomeOne','Chetan Bhagat',250),
        ('scion-of-ikshavaku','The Scion of Ikshavaku','Amish',300),
        ('kurukshetra','Kurukshetra','Ramdhari Singh Dinkar',450),
        ('urvasi','Urvasi','Ramdhari Singh Dinkar',125),
        ('harry-potter-1','Harry Potter and the Soccers Stone','JK Rowlings',250),
        ('harry-potter-2','Harry Potter and the Chambers of Secrets','JK Rowlings',350),
        ('harry-potter-3','Harry Potter and the Prisoner of Askaban','JK Rowlings',350),
        ('harry-potter-4','Harry Potter and the Goblet of Fire','JK Rowlings',450),
        ('harry-potter-5','Harry Potter and the Order of Phoenix','JK Rowlings',450),
        ('harry-potter-6','Harry Potter and the Half Blood Prince','JK Rowlings',450),
        ('harry-potter-7','Harry Potter and the Deathly Hollows','JK Rowlings',350);

In [9]:
INSERT INTO 
    reviews( book_id, rating)
VALUES
    ('the-accursed-god',4),
    ('kane-and-abel',4),
    ('the-accursed-god',5),
    ('kane-and-abel',4),
    ('kane-and-abel',3),
    ('kane-and-abel',3),
    ('the-accursed-god',4),
    ('kane-and-abel',5),
    ('kane-and-abel',5),
    ('kane-and-abel',3),
    ('the-accursed-god',5),
    ('the-accursed-god',5),
    ('the-accursed-god',5),
    ('the-accursed-god',5),
    ('kane-and-abel',4),
    ('the-accursed-god',5),
    ('kane-and-abel',3),
    ('rashmirathi',5),
    ('rashmirathi',4),
    ('rashmirathi',5),
    ('rashmirathi',5),
    ('rashmirathi',5),
    ('harry-potter-1',5),
    ('harry-potter-2',3),
    ('harry-potter-2',3),
    ('harry-potter-3',4),
    ('harry-potter-3',4),
    ('harry-potter-1',5),
    ('harry-potter-4',5),
    ('harry-potter-4',4),
    ('harry-potter-5',2),
    ('harry-potter-6',4),
    ('harry-potter-6',5),
    ('harry-potter-6',3),
    ('harry-potter-7',4),
    ('five-point-someone',4),
    ('five-point-someone',2),
    ('five-point-someone',2),
    ('five-point-someone',1),
    ('harry-potter-7',4),
    ('harry-potter-7',4),
    ('harry-potter-4',3),
    ('five-point-someone',2),
    ('five-point-someone',3),
    ('five-point-someone',3),
    ('five-point-someone',1),
    ('harry-potter-1',4),
    ('harry-potter-3',2),
    ('harry-potter-2',5),
    ('harry-potter-2',5),
    ('scion-of-ikshavaku',4),
    ('harry-potter-1',4),
    ('harry-potter-1',3),
    ('scion-of-ikshavaku',2),
    ('harry-potter-2',4),
    ('harry-potter-5',4),
    ('scion-of-ikshavaku',2),
    ('harry-potter-6',3),
    ('harry-potter-7',5),
    ('harry-potter-1',5),
    ('manas',5),
    ('manas',5),
    ('manas',5),
    ('scion-of-ikshavaku',3),
    ('manas',5),
    ('manas',4),
    ('manas',5),
    ('scion-of-ikshavaku',2),
    ('manas',5),
    ('manas',5),
    ('kurukshetra',5),
    ('kurukshetra',2),
    ('kurukshetra',3),
    ('scion-of-ikshavaku',3),
    ('kurukshetra',3),
    ('kurukshetra',3),
    ('kurukshetra',3),
    ('sons-of-fortune',3),
    ('sons-of-fortune',4);

In [11]:
select count(*) as book_count from books;
select count(*) as review_count from reviews;

book_count
17

review_count
79

# Distinct Values

\* we can search for distinct or unique values in our database

\* we have a table of books and authors are repeating

\* we can get a unique list of authors from the list books

In [3]:
select distinct(author) from books;

author
Amish
Chetan Bhagat
Jeffrey Archer
JK Rowlings
John Grisham
Ramdhari Singh Dinkar
Vivek Dutta Mishra

## We can get distinct book\_id from reviews

In [4]:
select distinct(book_id) from reviews;

book_id
five-point-someone
harry-potter-1
harry-potter-2
harry-potter-3
harry-potter-4
harry-potter-5
harry-potter-6
harry-potter-7
kane-and-abel
kurukshetra
manas
rashmirathi
scion-of-ikshavaku
sons-of-fortune
the-accursed-god

### We can aggregate distinct values

In [5]:
select count(distinct(author)) as Author_Count from books

Author_Count
7

### Aggregate With Reviews

In [6]:
SELECT
    count(*) as total,
    avg(rating) as average_rating
FROM
    reviews

total,average_rating
79,3

### Average of int will be int by default

- here our rating is int
- sum(int)/count(int) =\> int/int =\> int

### To get double value we need to do a type casting

- We can cast using function
    - CAST(value as type)
- Also we want the rating to be rounded of to 1 decimal place
    - we can use ROUND( value, decimal)

In [12]:
SELECT
    count(*) as all_reviews_count,
    avg(CAST(rating as float)) as average_rating
FROM
    reviews

all_reviews_count,average_rating
79,3.810126582278481

In [11]:
SELECT 
    COUNT(*) as votes,
    ROUND(AVG(CAST(rating as float)),1) as rating
FROM
    reviews
WHERE
    book_id='the-accursed-god'

votes,rating
8,4.8

## How do I show votes and rating per book?

- So far we tried to get aggregate of
    - All  Books Taken Together
    - Reviews realated to single book id
- But what if we need to get votes, and ratings of all the books individually

# Group By

- Group By groups multiple records to return a single record 
- It is like returning one row by calling 'distinct' for each item
- The simplest group by will look like 'distinct' record

In [13]:
SELECT
    BOOK_ID
FROM
    reviews
GROUP BY 
    BOOK_ID

BOOK_ID
five-point-someone
harry-potter-1
harry-potter-2
harry-potter-3
harry-potter-4
harry-potter-5
harry-potter-6
harry-potter-7
kane-and-abel
kurukshetra
manas
rashmirathi
scion-of-ikshavaku
sons-of-fortune
the-accursed-god

In [14]:
SELECT DISTINCT(BOOK_ID) FROM REVIEWS

BOOK_ID
five-point-someone
harry-potter-1
harry-potter-2
harry-potter-3
harry-potter-4
harry-potter-5
harry-potter-6
harry-potter-7
kane-and-abel
kurukshetra
manas
rashmirathi
scion-of-ikshavaku
sons-of-fortune
the-accursed-god

### WHY USE GROUP ID INSTEAD OF DISTINCT?

\* GROUP  CAN ALSO INCLUDE ASSOCIATED AGGREGATE INFORMATION

### HOW CAN WE FIND ALL AUTHOR AND TOTAL BOOKS WRITTEN BY THEM

In [18]:
SELECT 
    DISTINCT(AUTHOR), -- 7 records
    COUNT(id)         -- 1 record
FROM
    books

: Msg 8120, Level 16, State 1, Line 2
Column 'books.author' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [24]:
SELECT
    author, -- 7
    count(id) as books_written,  --count(id) in the current group where author==author
    AVG(price) as average_book_cost
FROM
    books
GROUP BY 
    author -- one row per author

author,books_written,average_book_cost
Amish,1,300
Chetan Bhagat,1,250
Jeffrey Archer,2,450
JK Rowlings,7,378
John Grisham,1,250
Ramdhari Singh Dinkar,3,255
Vivek Dutta Mishra,2,299

## How Grouping Works

1\. Grouping using the group by field as 'distinct'

2\. It creates 'distinct' groups of rows per item

- group by author will create
    - One group per distinct author
        - each group may contain 1 or more rows

3\. The result will return only 1 row per group

- Although there are multiple rows within the group

4\. Each row is a summary of the group

## What can we select about a group

- Whatever can be included in a single line
    - group key 
        - it will be single per group
    - aggregate information of group rows
        - sum
        - avg
        - count

## <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">What can't be selecterd in a group</span>

- <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">anything that may have duplicates</span>
    
    - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">anything that is not</span>
        - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">mentioned in group by</span>
        - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">not an aggregate function</span>
- Example:
    
    - group by author can't inlcude 
    - title
    - price
    - book.id
    - each author may have multiple books
        - they can't display multiple title on a single row

## Getting Grouped Records From Multiple Tables

## Select title, author, price votes and rating per book

In [34]:
SELECT
    b.id as id,
    title,
    author,
    MIN(price) as PRICE, -- there is only one price
    count(rating) as votes,
    ROUND(AVG(CAST(rating as float)),1) as rating
FROM
    reviews,
    books as b
WHERE
    b.id = book_id
GROUP BY
    b.id

: Msg 8120, Level 16, State 1, Line 3
Column 'books.title' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

## How do we make it work?

  

## Approach #1 Inlcude in group

- In our example we know for every book.id we have a single value for
    - title
    - author
    - price
- we can include these fields in group to enable their selection

In [12]:
SELECT 
    title,
    author,
    Min(Price), -- hack to use aggregate when I know there is a single value
    count(rating) as votes,
    ROUND(AVG(CAST(rating as float)),1) as rating
FROM
    books as b,
    reviews as r
WHERE
    b.id=r.book_id
GROUP BY
    b.id,
    b.title,
    b.author 
ORDER BY
    b.title

title,author,(No column name),votes,rating
Five Point SomeOne,Chetan Bhagat,250,8,2.3
Harry Potter and the Chambers of Secrets,JK Rowlings,350,5,4
Harry Potter and the Deathly Hollows,JK Rowlings,350,4,4.3
Harry Potter and the Goblet of Fire,JK Rowlings,450,3,4
Harry Potter and the Half Blood Prince,JK Rowlings,450,4,3.8
Harry Potter and the Order of Phoenix,JK Rowlings,450,2,3
Harry Potter and the Prisoner of Askaban,JK Rowlings,350,3,3.3
Harry Potter and the Soccers Stone,JK Rowlings,250,6,4.3
Kane and Abel,Jeffrey Archer,450,9,3.8
Kurukshetra,Ramdhari Singh Dinkar,450,6,3.2
Manas,Vivek Dutta Mishra,199,8,4.9
Rashmirathi,Ramdhari Singh Dinkar,190,5,4.8
Sons of Fortune,Jeffrey Archer,450,2,3.5
The Accursed God,Vivek Dutta Mishra,399,8,4.8
The Scion of Ikshavaku,Amish,300,6,2.7

## Approach #2 Nested Queries

  

- We can nest one query inside another
- A  Query returning a tabular data can act as virtual table

  

1.

In [109]:
select
    author,
    avg(average_rating)
    
from
    books,
    (
        select
            book_id,
            AVG(rating) as average_rating
        FROM
            reviews
        group by
            book_id
    ) as r
WHERE
    id = r.book_id
GROUP by(author)

author,(No column name)
Amish,2
Chetan Bhagat,2
Jeffrey Archer,3
JK Rowlings,3
Ramdhari Singh Dinkar,3
Vivek Dutta Mishra,4

In [107]:
select
    book_id,
    AVG(rating) as average_rating
FROM
    reviews
group by
    book_id

book_id,average_rating
five-point-someone,2
harry-potter-1,4
harry-potter-2,4
harry-potter-3,3
harry-potter-4,4
harry-potter-5,3
harry-potter-6,3
harry-potter-7,4
kane-and-abel,3
kurukshetra,3
manas,4
rashmirathi,4
scion-of-ikshavaku,2
sons-of-fortune,3
the-accursed-god,4

In [63]:
SELECT
    author,
    count(title) as books_count
    average_rating
    -- total_votes
FROM
    books,    
    (
       select
            book_id,
            AVG(rating) as average_rating
        FROM
            reviews
        group by
            book_id
            
    ) r
    

-- where r.author = books.author
-- and r.book_id = books.book_id
    
group by author

: Msg 102, Level 15, State 1, Line 4
Incorrect syntax near 'average_rating'.

: Msg 102, Level 15, State 1, Line 17
Incorrect syntax near 'r'.

In [106]:
select author, AVG(rating) from books, reviews where books.id = reviews.book_id group by author

author,(No column name)
Amish,2
Chetan Bhagat,2
Jeffrey Archer,3
JK Rowlings,3
Ramdhari Singh Dinkar,3
Vivek Dutta Mishra,4